.navBar {
  box-sizing: border-box;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgb(59, 59, 59);
}

.icon {
  fill: rgb(255, 255, 255);
}

.navContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  font-size: 2rem;
  font-family: 'ragna-runes';
  letter-spacing: 0.25rem;
  text-wrap: nowrap;
}

.navLink {
  font-size: 1.5rem;
  font-family: 'poppins';
  text-decoration: none;
  color: white;
}
