.navBar {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  color: white;
  background-image: url('/images/stone-background.jpg');
  z-index: 1;
}

.bgFilter {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.bgFilter2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--primary-bg);
  gap: 2rem;
}

.icon {
  fill: rgb(255, 255, 255);
  font-size: 3.5rem;
}

.navTitle {
  justify-self: left;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.navContainer {
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.title {
  font-size: clamp(1.5rem, 5vw, 2rem);
  font-family: 'ragna-runes';
  letter-spacing: 0.25rem;
  text-wrap: nowrap;
}

.navLink,
.cartIcon {
  font-family: 'poppins';
  font-size: clamp(1rem, 5vw, 1.5rem);
  text-decoration: none;
  color: white;
  transition: color 0.25s linear;
}

.navLink:hover,
.cartIcon:hover {
  color: red;
}

.cart {
  position: relative;
  justify-self: right;
}

.itemCount {
  box-sizing: border-box;
  font-family: 'poppins';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  padding-top: 2px;
  width: 1.2rem;
  aspect-ratio: 1 / 1;
  position: absolute;
  background-color: red;
  border-radius: 50%;
  right: 0;
  top: 0;
}

@media (max-width: 900px) {
  .bgFilter2 {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(2, auto);
    gap: 0.5rem;
    padding: 1rem;
  }
  .navContainer {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-content: space-between;
    gap: 0.75rem;
  }
}
