.pageLayout {
  width: 100vw;
  /* flex-grow: 1; */
  display: grid;
  grid-template-columns: 1fr clamp(300px, 25vw, 800px);
  grid-template-rows: auto auto;
  /* overflow: hidden; */
}

.content {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  /* display: flex;
  justify-content: center; */
}
